programs/node-red
[{"id":"554e43e6.b07864","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b2fddc34.7ab1c","type":"ui_template","z":"554e43e6.b07864","group":"a7c19ef3.9cba9","name":"plantilla","order":2,"width":"6","height":"6","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1120,"y":260,"wires":[[]]},{"id":"a080c049.5cac8","type":"base64","z":"554e43e6.b07864","name":"","action":"str","property":"payload","x":900,"y":260,"wires":[["b2fddc34.7ab1c"]]},{"id":"cac9741d.fa1a78","type":"jimp-image","z":"554e43e6.b07864","name":"imagen","data":"payload","dataType":"msg","ret":"buf","parameter1":"224","parameter1Type":"num","parameter2":"224","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":700,"y":260,"wires":[["a080c049.5cac8"]]},{"id":"668bbc9e.51a234","type":"ui_text_input","z":"554e43e6.b07864","name":"imagepath","label":"path","tooltip":"","group":"a7c19ef3.9cba9","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":490,"y":260,"wires":[["cac9741d.fa1a78","6c5061f5.8d59f8","b4e9f3b3.c1618","d28ce869.86eb68"]]},{"id":"9b7f2821.0535c8","type":"ui_text","z":"554e43e6.b07864","group":"a7c19ef3.9cba9","order":1,"width":0,"height":0,"name":"","label":"Diagnostico basado en IA","format":"{{msg.payload}}","layout":"row-center","x":690,"y":220,"wires":[]},{"id":"5d62a367.13a954","type":"ui_button","z":"554e43e6.b07864","name":"","group":"a7c19ef3.9cba9","order":4,"width":0,"height":0,"passthru":false,"label":"Limpiar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":260,"wires":[["a2f92ac2.482a2"]]},{"id":"d28ce869.86eb68","type":"mqtt out","z":"554e43e6.b07864","name":"","topic":"cts/test","qos":"","retain":"","broker":"f7ee2fac.70559","x":700,"y":340,"wires":[]},{"id":"6c5061f5.8d59f8","type":"delay","z":"554e43e6.b07864","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":400,"wires":[["19c0652e.9aadf3"]]},{"id":"de134aa3.40e478","type":"ui_text","z":"554e43e6.b07864","group":"a7c19ef3.9cba9","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":400,"wires":[]},{"id":"19c0652e.9aadf3","type":"change","z":"554e43e6.b07864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Procesando\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":400,"wires":[["de134aa3.40e478"]]},{"id":"b4e9f3b3.c1618","type":"delay","z":"554e43e6.b07864","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":440,"wires":[["a04463a4.bf1db8"]]},{"id":"a04463a4.bf1db8","type":"change","z":"554e43e6.b07864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Procesamiento finalizado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":440,"wires":[["de134aa3.40e478"]]},{"id":"a344c9c3.b812b","type":"mqtt in","z":"554e43e6.b07864","name":"","topic":"cts/test","qos":"2","datatype":"auto","broker":"f7ee2fac.70559","x":680,"y":560,"wires":[["e112c3c6.bda688"]]},{"id":"a2f92ac2.482a2","type":"change","z":"554e43e6.b07864","name":"limpia","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":260,"wires":[["668bbc9e.51a234"]]},{"id":"e112c3c6.bda688","type":"ui_text","z":"554e43e6.b07864","group":"a7c19ef3.9cba9","order":6,"width":0,"height":0,"name":"Resultado","label":"","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":740,"wires":[]},{"id":"40bff48b.17ab2c","type":"change","z":"554e43e6.b07864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"POSITIVO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":500,"wires":[[]]},{"id":"de59beec.56faf8","type":"ui_chart","z":"554e43e6.b07864","name":"entrenamiento","group":"595778c4.f5efd8","order":0,"width":"11","height":"5","label":"Epocas entrenamiento y testeo","chartType":"line","legend":"true","xformat":"SSS","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":1040,"wires":[[]]},{"id":"d9b8f98f.b7ae08","type":"csv","z":"554e43e6.b07864","name":"","sep":",","hdrin":false,"hdrout":"","multi":"mult","ret":"\\n","temp":"epoca, precision_entrenamiento, error_entrenamiento, precision_final, error_generalizacion","skip":"1","strings":true,"x":350,"y":700,"wires":[["27accfbe.0d3968","3c041cd1.4f004c","de7d71cb.61b11","3081af2f.ca7ae8"]]},{"id":"f6988e3d.9f18f","type":"file in","z":"554e43e6.b07864","name":"data","filename":"/home/erickmfs/ai_apps/covit19_vgg/keras-covid-19/precision-log.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":600,"wires":[["d9b8f98f.b7ae08"]]},{"id":"cc17c37.8f85e4","type":"inject","z":"554e43e6.b07864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["f6988e3d.9f18f"]]},{"id":"3c041cd1.4f004c","type":"debug","z":"554e43e6.b07864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":880,"wires":[]},{"id":"27accfbe.0d3968","type":"change","z":"554e43e6.b07864","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"topic\": \"precision_entrenamiento\", \"value\": msg.payload.[precision_entrenamiento]}]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":900,"wires":[["3c041cd1.4f004c"]]},{"id":"de7d71cb.61b11","type":"function","z":"554e43e6.b07864","name":"","func":"var m = {};\nvar n1 = {};\nvar n2 = {};\nvar n3 = {};\nvar n4 = {};\n\n//msg1.payload = msg.payload[0].epoca;\n//m.labels = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24];\nm.series = ['precision_entrenamiento','error_entrenamiento']; //,'precision_final','error_generalizacion'];\n\nvar i;\nm.labels = [];\nm.data = [];\nn1.data = [];\nn2.data = [];\n//n3.data = [];\n//n4.data = [];\n\nfor(i=0; i<25; i++){\n    m.labels[i] = msg.payload[i].epoca;\n    n1.data[i] = msg.payload[i].precision_entrenamiento;\n    n2.data[i] = msg.payload[i].error_entrenamiento;\n    //n3.data[i] = msg.payload[i].precision_final;\n    //n4.data[i] = msg.payload[i].error_generalizacion;\n};\n\nm.data[0] = n1.data;\nm.data[1] = n2.data;\n//m.data[2] = n3.data;\n//m.data[3] = n4.data;\n\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"x":610,"y":1000,"wires":[["3c041cd1.4f004c","de59beec.56faf8"]]},{"id":"3081af2f.ca7ae8","type":"function","z":"554e43e6.b07864","name":"","func":"var  m = {};\nvar n1 = {};\nvar n2 = {};\nvar n3 = {};\nvar n4 = {};\n\nm.series = ['precision_final','error_entrenamiento']; //,'precision_final','error_generalizacion'];\n\nvar i;\nm.labels = [];\nm.data = [];\nn1.data = [];\nn2.data = [];\n\nfor(i=0; i<25; i++){\n    m.labels[i] = msg.payload[i].epoca;\n    n1.data[i] = msg.payload[i].precision_final;\n    n2.data[i] = msg.payload[i].error_generalizacion;\n};\n\nm.data[0] = n1.data;\nm.data[1] = n2.data;\n\nreturn {payload:[m]};\n\n","outputs":1,"noerr":0,"x":610,"y":1040,"wires":[["f949e620.4b10c"]]},{"id":"f949e620.4b10c","type":"ui_chart","z":"554e43e6.b07864","name":"generalizacion","group":"595778c4.f5efd8","order":0,"width":"11","height":"6","label":"","chartType":"line","legend":"true","xformat":"SSS","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":1000,"wires":[[]]},{"id":"a7c19ef3.9cba9","type":"ui_group","z":"","name":"COVID-19","tab":"8f9f5c0c.32d4a8","disp":true,"width":"6","collapse":true},{"id":"f7ee2fac.70559","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"595778c4.f5efd8","type":"ui_group","z":"","name":"Entrenamiento de red neuronal VGG16","tab":"8f9f5c0c.32d4a8","disp":true,"width":"11","collapse":false},{"id":"8f9f5c0c.32d4a8","type":"ui_tab","z":"","name":"Test  - covid19","icon":"dashboard","disabled":false,"hidden":false}]
